/*Common*/
@import "common/variables";
@import "common/mixins";
@import "common/common";

/*Tools*/
@import "tools/sprite";
@import "tools/bootstrap";

/*Modules*/
@import "../node_modules/modularized-normalize-scss/normalize.scss";
@import "../node_modules/slick-carousel/slick/slick.scss";

/*Components*/
@import "components/map";
@import "components/components.hamburger";
@import "components/slider";
@import "components/components.scrollTo";
@import "components/breadcrumbs";


@import "header";
@import "main";
@import "aside";
@import "footer";




