<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>title</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet" />
	<!--<link rel="stylesheet" href="main.css" />-->
</head>

<body>
	<div class="body">
		<div class="content">
			<header>
					<div class="container">
						<div class="header">
								<div class="header__item">
									<button class="c-hamburger c-hamburger--htx">
										<span>toggle menu</span>
									</button>
									<a href="/" class="logo-wrapp">
										<div class="logo">
											<div class="logo__item">
												<img src="images/logo.png" alt="Логотип. Ефименко Юлия (психологическая помощь)" title="Логотип. Ефименко Юлия (психологическая помощь)">
											</div>
											<div class="logo__item">
												<div>Ефименко Юлия</div>
												<div>Психологическая помощь</div>
											</div>
										</div>
									</a>
								</div>
								<div class="header__item">
									<nav id="siteMenu">
										<ul class="site-nav mobile-close hide">
											<li class="site-nav__item site-nav__item--act"><a href="/" class="site-nav__link"><span>Главная</span></a></li>
											<li class="site-nav__item"><a href="#about" class="site-nav__link"><span>Обо&nbsp;мне</span></a></li>
											<li class="site-nav__item"><a href="#consultation" class="site-nav__link"><span>Консультации</span></a></li>
											<li class="site-nav__item"><a href="" class="site-nav__link"><span>Статьи</span></a></li>
											<li class="site-nav__item"><a href="" class="site-nav__link"><span>Отзывы</span></a></li>
											<li class="site-nav__item"><a href="" class="site-nav__link"><span>Контакты</span></a></li>
										</ul>

									</nav>
								</div>
						</div>
					</div>

			</header>
			<!-- HEADER end-->




		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-9 col-xs-12">
						<div class="copyright">© Психологическая помощь Ю.А.Ефименко. 2017</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-12">
						<div class="soc">
							<div class="soc-inner">
								<a href="#" class="soc__item soc__item--vk">vk</a>
								<a href="#" class="soc__item soc__item--fb">facebook</a>
								<a href="#" class="soc__item soc__item--ok">odnoklasniki</a>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-xs-12">
						<a href="http://infodesign.ru/" class="infodisign">© Создание сайта и дизайн «Инфодизайн» 2017</a>
					</div>
				</div>
			</div>
		</footer>
		<button href="#" class="scrollup">Наверх</button>
	</div>
	<!--<script type="text/javascript" src="js/main.js"></script>-->
</body>

</html>
